<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kolorkash3d.app">

    <!-- Needed for Flutter, Firebase, network calls, etc. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="Kolor Kash 3D"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|uiMode|screenLayout|density|fontScale|layoutDirection|locale"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Main launcher entry point -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Normal (post-splash) theme for Flutter -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- Enable Flutter deep linking support (safe to leave on) -->
            <meta-data
                android:name="flutter_deeplinking_enabled"
                android:value="true" />
        </activity>

        <!-- Splash screen background (uses launch_background.xml from Flutter template) -->
        <meta-data
            android:name="io.flutter.embedding.android.SplashScreenDrawable"
            android:resource="@drawable/launch_background" />

    </application>

</manifest>
